# packages in environment at /home/rick/miniconda3/envs/pytorch:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       0_gnu    conda-forge
absl-py                   0.9.0                    pypi_0    pypi
albumentations            0.4.5                    pypi_0    pypi
attrs                     19.3.0                   pypi_0    pypi
ca-certificates           2020.6.20            hecda079_0    conda-forge
cachetools                4.1.1                    pypi_0    pypi
certifi                   2020.6.20        py38h32f6830_0    conda-forge
chardet                   3.0.4                    pypi_0    pypi
comet-git-pure            0.19.16                  pypi_0    pypi
comet-ml                  3.1.12                   pypi_0    pypi
configobj                 5.0.6                    pypi_0    pypi
cycler                    0.10.0                   pypi_0    pypi
cython                    0.29.20                  pypi_0    pypi
decorator                 4.4.2                    pypi_0    pypi
everett                   1.0.2                    pypi_0    pypi
future                    0.18.2                   pypi_0    pypi
google-auth               1.18.0                   pypi_0    pypi
google-auth-oauthlib      0.4.1                    pypi_0    pypi
grpcio                    1.30.0                   pypi_0    pypi
hydra                     2.5                      pypi_0    pypi
hydra-core                0.11.3                   pypi_0    pypi
idna                      2.10                     pypi_0    pypi
imageio                   2.9.0                    pypi_0    pypi
imgaug                    0.2.6                    pypi_0    pypi
joblib                    0.16.0                   pypi_0    pypi
jsonschema                3.0.2                    pypi_0    pypi
kiwisolver                1.2.0                    pypi_0    pypi
ld_impl_linux-64          2.34                 h53a641e_5    conda-forge
libffi                    3.2.1             he1b5a44_1007    conda-forge
libgcc-ng                 9.2.0                h24d8f2e_2    conda-forge
libgomp                   9.2.0                h24d8f2e_2    conda-forge
libstdcxx-ng              9.2.0                hdf63c60_2    conda-forge
markdown                  3.2.2                    pypi_0    pypi
matplotlib                3.2.1                    pypi_0    pypi
ncurses                   6.1               hf484d3e_1002    conda-forge
netifaces                 0.10.9                   pypi_0    pypi
networkx                  2.4                      pypi_0    pypi
numpy                     1.17.5                   pypi_0    pypi
nvidia-ml-py3             7.352.0                  pypi_0    pypi
oauthlib                  3.1.0                    pypi_0    pypi
omegaconf                 1.4.1                    pypi_0    pypi
opencv-python-headless    4.2.0.34                 pypi_0    pypi
openssl                   1.1.1g               h516909a_0    conda-forge
pandas                    1.0.3                    pypi_0    pypi
pillow                    7.1.2                    pypi_0    pypi
pip                       20.1.1                     py_1    conda-forge
protobuf                  3.12.2                   pypi_0    pypi
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pycocotools               2.0.0                    pypi_0    pypi
pyparsing                 2.4.7                    pypi_0    pypi
pyrsistent                0.16.0                   pypi_0    pypi
python                    3.8.3           cpython_he5300dc_0    conda-forge
python-dateutil           2.8.1                    pypi_0    pypi
python_abi                3.8                      1_cp38    conda-forge
pytorch-lightning         0.7.6                    pypi_0    pypi
pytz                      2020.1                   pypi_0    pypi
pywavelets                1.1.1                    pypi_0    pypi
pyyaml                    5.3.1                    pypi_0    pypi
readline                  8.0                  hf8c457e_0    conda-forge
requests                  2.24.0                   pypi_0    pypi
requests-oauthlib         1.3.0                    pypi_0    pypi
rsa                       4.6                      pypi_0    pypi
scikit-image              0.17.2                   pypi_0    pypi
scikit-learn              0.23.1                   pypi_0    pypi
scipy                     1.5.1                    pypi_0    pypi
setuptools                49.1.0           py38h32f6830_0    conda-forge
six                       1.15.0                   pypi_0    pypi
sqlite                    3.32.3               hcee41ef_0    conda-forge
tensorboard               2.2.2                    pypi_0    pypi
tensorboard-plugin-wit    1.7.0                    pypi_0    pypi
threadpoolctl             2.1.0                    pypi_0    pypi
tifffile                  2020.7.4                 pypi_0    pypi
tk                        8.6.10               hed695b0_0    conda-forge
torch                     1.5.0                    pypi_0    pypi
torchvision               0.6.0                    pypi_0    pypi
tqdm                      4.45.0                   pypi_0    pypi
typing-extensions         3.7.4.2                  pypi_0    pypi
urllib3                   1.25.9                   pypi_0    pypi
websocket-client          0.57.0                   pypi_0    pypi
werkzeug                  1.0.1                    pypi_0    pypi
wheel                     0.34.2                     py_1    conda-forge
wurlitzer                 2.0.1                    pypi_0    pypi
xz                        5.2.5                h516909a_0    conda-forge
zlib                      1.2.11            h516909a_1006    conda-forge
